.system {
    background-image: url(../images/img/bg-system.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // height: 100vh;
    color: #fff;
    padding-bottom: 200px;

    &__content {
        @include dFlex(center);

        .system__content-right {
            width: 50%;
        }

        .system__content-left {
            padding-left: 20px;
            padding-top: 170px;

            .system__title {
                p {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2px;
                    margin-bottom: 8px;
                }

                h3 {
                    font-size: 80px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    margin-bottom: 70px;
                }
            }

            .system__body {
                position: relative;

                .info1 {
                    margin-bottom: 5px;
                }

                .info2 {
                    margin-bottom: 37px;
                }

                .system__info {
                    @include dFlex(start);
                    gap: 33px;

                    p {
                        color: $primaryColor;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 2px;
                    }
                }

                .system__paragraph {
                    padding-left: 47px;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 22px;
                    word-spacing: 2px;
                    letter-spacing: 2px;
                    margin-bottom: 27px;
                }

                span {
                    display: inline-block;
                    position: absolute;
                    bottom: 175px;
                    right: 331.3px;
                    width: 140px;
                    height: 2px;
                    background: #fff;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.features {
    background-image: url(../images/img/bg-features.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #fff;
    padding-bottom: 170px;

    &__title {
        padding-top: 145px;
        text-align: center;
        margin-bottom: 133px;

        p {
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
            margin-bottom: 8px;
        }

        h1 {
            font-size: 80px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    &__content {
        @include dFlex(flex-start);
        width: 100%;

        &__left {
            width: 50%;

            .features-body {
                @include dFlex(center);

                h4 {
                    color: $primaryColor;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2px;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    word-spacing: 1px;
                    letter-spacing: 2px;
                    line-height: 22px; 
                }

                .features-item1 {
                    width: 50%;
                    padding: 14px 14px 31px 19px;
                    border: 1px solid #979797;

                }

                .features-item2 {
                    width: 50%;
                    border: 1px solid #979797;
                    border-top: none;
                    padding: 14px 14px 47px 14px;
                }

                .features-item3 {
                    padding: 25px 14px 36px 14px;
                    border: 1px solid #979797;
                    border-top: none;
                    border-bottom-right-radius: 15px;
                }
            }
        }

        &__right {
            width: 50%;
        }
    }
}
